.card-title{
    font-size: 4rem;
    font-family:cursive;
    font-weight: bold;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
#mybutton{
    background-color:#212529;
    color: white;
    font-size: large;
}
#alert{
    display: none;
    text-align: center;
    font-size: 2rem;
    color: black;
}
.green {
    /* border: 2px solid green !important; */
    background-color: green!important;
    color: white !important;
  }

.red {
    /* border: 2px solid red !important; */
    background-color: rgba(255,0,0,0.7)!important;
    color: white !important;
}

input{
    padding: 3px 10px !important;
    font: 400 18.3333px Arial !important;
}

table{
    font-size: 15px;
}